<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/styles.css">
  <title>Doodle</title>
</head>
<body>
  <h1 class="title">
    doodle admin
  </h1>
  <h4 class="help-text">
    logged in as <em class="user-name"><%= user %></em>
  </h4>

  <a href="/logout" class="btn-logout">LogOut</a>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>

        <% for (let i = 1; i <= slotCount; i++) { %>
          <th>Slot<%= i %></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <!-- data rows -->
      <%
        // track the status of the checkboxes
        let status;
        for (row of rows) {
      %>
      <tr>
        <td style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
          <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" class="user-icon">
        </td>
        <td>
          <input class="name-input" placeholder="Name" type="text" value="<%= row.Name %>" disabled/>
        </td>
        <%
          for (let i = 1; i <= slotCount; i++) {
            status = row[`Slot${i}`] ? "checked" : undefined;
        %>
        <td>
          <input type="checkbox" class="slot-check-box" disabled <%= status %> />
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>
<html>
