<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/styles.css">
  <link rel="stylesheet" href="./styles/guestViewStyles.css">
  <title>Guest</title>
</head>
<body>
  <h1 class="title">Guest Sign Up</h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Enter Name</th>

        <%
        let timeValue;
        for (let row of timeSlots) {
          timeValue = row.SlotValue;
      %>
        <th><%= timeValue %></th>
      <% } %>

        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr class="form-row-tr">
        <form id="x" action="/add-guest" method="GET">
          <div class="doodle-form-row">
            <td style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
            </td>
            <td>
              <input class="name" placeholder="Enter Name" type="text" name="name" />
            </td>

            <% for (let i = 1; i <= slotCount; i++) { %>
              <td>
                <input type="checkbox" class="slot" name="Slot_<%= i %>" value="True" />
              </td>
            <% } %>
            <td>
             
            </td>
          </div>
        </form>
      </tr>

      <%
        let status;
        for (row of rows) {
      %>
      <tr>
        <td style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
        </td>
        <td>
          <input class="name" placeholder="Enter Name" type="text" value="<%= row.Name %>" disabled/>
        </td>
        <%
          for (let i = 1; i <= slotCount; i++) {
            status = row[`Slot${i}`] ? "checked" : undefined;
        %>
      <td>
        <input type="checkbox" class="slot" disabled <%= status %> />
      </td>
      <% } %>
      </tr>
    <% } %>
    </tbody>
  </table>
  <button form="x" class="save-guest" type="submit">SAVE</button>
  <a href="/logout" class="menuReturn" type="submit">MENU</a>

</body>
</html>
