<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/styles.css">
  <title>3316</title>
</head>
<body>
  <h1 class="title"> Welcome </h1>

  <h4 class="help-text">Choose an option</h4>

  <div>
    <a class="btn" href="/login">
      Admin
    </a>
    <a class="btn" href="/enter-guest">
      Guest
    </a>
  </div>

  <h4 class="help-text">Click Guest to save a time slot</h4>
  <h4 class="help-text">Click Admin if you have an account and want to edit the time slots</h4> 
</body>
</html>
