<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/styles.css">
  <title>Doodle</title>
</head>
<body>
  <h1 class="title"> Doodle</h1>

  <h4 class="help-text">Login or join as guest</h4>

  <div class="btn-container">
    <a class="btn" href="/login-view">
      Admin
    </a>
    <a class="btn" href="/guest">
      Guest
    </a>
  </div>
</body>
</html>
