.save-guest {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color:gold;
    color: black;
    margin: 10px;
  }
  
  .save-guest:hover {
    background-color: red;
  }

  .menuReturn{
    padding: 5px;
    border-radius: 5px;
    border-color: black;
    background-color:gold;
    color: black;
    text-decoration: none;
    margin: 10px;
  }

  .menuReturn:hover {
    background-color: red;
  }