
body {
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  align-items: center;
}

.title {
  padding: 10px;
  margin-bottom: 50px;
  color: black;
  background-color: gold;
  border-bottom: 5px solid blue;
  text-transform: uppercase;
}

#img{
  width: 60%;
  height: 60%
}

.help-text {
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  color:black;
  border: 10px;
  border-color: black;
  background-color: gold;
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover {
  color: gold;
  background-color: black;
  border: 2px;
  border-color: black;
  padding: 6px;
}

table {
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.form-row-tr {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

table tr {
  padding: 10px;
  border-radius: 5px;
}

table tr th {
  text-transform: uppercase;
  padding: 10px;
  color: black;
}

table tr td {
  text-align: center;
  justify-content: center;
  background-color: black;
  padding: 10px;
}

table tr td:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table tr td:nth-last-child(1) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.name{
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid red;
  text-align: center;
}

.slot-check-box {
  appearance: none;
  margin: 5px;
  background-color: white;
  border: 1px solid red;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
}

.slot-check-box:checked {
  background-color: white;
  border: 2px solid var gold;
  color: var(--primary);
}

.slot-check-box:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: var black;
}

.user-name {
  color: var gold;
}

.auth-fail-text {
  text-align: center;
  color: Black;
  background-color: lightgray;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  width: 75%;
  margin: 10px auto;
}
